body{
    margin: 0px;
    padding: 0px;
    background-color: #E8F9FD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


form{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
